<div class="container">
  <div class="col-sm-8 mt-4 px-sm-0 offset-sm-1">
    <h2>会員一覧</h2>
  </div>
    <div class="col-sm-10 mt-4 offset-2">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
        <tbody>
          <tr>
            <td><%= customer.id %></td>
            <!--リンクを実装する-->
            <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id), class: "border-bottom border-brack text-dark" %></td>
            <td><%= customer.email %></td>
            <!--true=退会済み、false=有効-->
              <% if customer.is_status == true %>
                <td class="text-secondary">退会</td>
              <% else %>
                <td class="text-success">有効</td>
              <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
      <div class="row justify-content-center">
        <%= paginate @customers %>
      </div>
    </div>
</div>
