<div class= "container">
  <h2>注文履歴詳細</h2>
  <div class= "row">
    <div class= "col-md-6">
      <table class='table table-hover table-inverse'>
      <h4>注文情報</h4>
      <tr>
        <td>注文日</td>
        <td></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td>
          <%= order.postal_code %><%= order.address %><%= order.name %>
        </td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td></td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td></td>
      </tr>
      
    </div>
    <div class= "col-md-5">
      <h4>請求情報</h4>
      　<tr>
          <td>商品合計</td>
          <td></td>
        </tr>
        <tr>
          <td>配送料</td>
          <td>8</td>
        </tr>
        <tr>
          <td>ご請求額</td>
          <td></td>
        </tr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h4>注文内容</h4>
      <thead>
        <tr>
          <td>商品</td>
          <td>単価（税込）</td>
          <td>個数</td>
          <td>小計</td>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>@item.name</td>
          <td></td>
          <td>coun</td>
          <td></td>
        </tr>
      </tbody>
    </div>
  </div>
</div>