<div class= "container">
  <div class= "row">
    <div class= "col-md-4">
      <h1>ジャンル</h1>
    </div>
    <div class= "col-md-8">
      <p><span style="font-size:35px">商品一覧</span>(全<%= @items.count %>件)</p>
    </div>
  </div>
   <div class="row">
     <% @items.each do |item| %>
     <div class="col-md-3">
      <div class="card">
        <%= link_to item_path(iten.id) do %>
        <p>syouhinn</p>
        <% end %>
        </div>
        </div>
        <% end %>
        </div
  <%= paginate(@items) %>
</div>