<footer class="fixed-bottom border-top p-3 mb-2 bg-info text-white">
  <div class='container mt-2'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>
    		  <span style="font-size : 15pt">
    		   nagano_cake
    		  </span>
    		</p>
    	</div>
    </div>
  </div>
</footer>
